@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-heading dark:text-white;
  }

  h1 {
    @apply text-[42px] leading-[48px];
  }

  h2 {
    @apply text-[24px] leading-[25px];
  }

  h3 {
    @apply text-[24px] leading-[32px];
  }

  h4 {
    @apply text-[15px] leading-[18px];
  }

  a {
    @apply text-primary;
  }

  label {
    @apply text-[#9DA1B4];
  }

  [type="text"],
  [type="email"],
  [type="password"] {
    @apply w-full rounded focus:ring-2;
  }

  [type="submit"] {
    @apply inline-block cursor-pointer rounded-[8px] bg-primary px-[30px] py-[15px] text-center text-[17px] font-medium leading-[15px] text-white shadow-gray dark:shadow-none;
  }

  label {
    @apply mb-2 block;
  }
}

@layer components {
  .nav-item {
    @apply inline-flex items-center justify-center rounded-[14px] bg-white p-[12px] shadow-gray duration-300 hover:bg-primary hover:text-white hover:shadow-base dark:bg-[#20232B] dark:text-white dark:shadow-none;
  }
  .nav-item.active {
    @apply inline-flex items-center justify-center rounded-[14px] bg-primary p-[12px] text-white shadow-base dark:shadow-none;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a0a8b1 #ffffff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #a0a8b1;
  border-radius: 20px;
  border: 3px solid #ffffff;
}
